@media (max-width: 600px) {

    .container {
        left: 45px;
        top: 25px;
        margin: 32px;
        padding: 25px;
    }

    .profile-img {
        width: 80px;
        height: 80px;
        left: 77px;
        top: 38px;
        margin-top: 15px;
    }
    
    .title {
        margin: 15px;
    }
    
    .title h1 {
        font-size: 1.9em;
        font-weight: bold;
        line-height: 35px;
    }
    
    .title h3 {        
        font-size: 1em;
        line-height: 30px;
    }

    .projects {
        margin-top: 15px;
        padding: 15px;
    }
    
    .projects-title {
        font-size: 1.9em;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    
    .projects-items {
        font-size: .9em;
    }

    .projects-items a {
        line-height: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    footer {
        padding-top: 10px;
    }
    
    .footer-content {
        margin-top: 10px;
    }
    
    .socials {
        margin: 0;    
    }

    .switch {
        position: relative;
        width: 3.8rem;
        height: 1.2rem;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        border-radius: 20px;
        left: 0.1rem;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(40deg, rgba(212,0,0,0.8764882662049195) 34%, rgba(241,106,0,1) 64%, rgba(255,255,1,0.8988972297903537) 100%);
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: #37393f;
    }

      input:checked + .slider:before {
        left: calc(100% - 1rem);
        background: #37393f;
        box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
        
    }
    
}